.avatar {
  width: 70px !important;
  height: 70px !important;
  margin: 10px !important;
  background-color: #7209b7 !important;
}

#fingerprint {
  font-size: 60px;
}

label {
  color: white !important;
}

input {
  color: white !important;
  border-color: #215ea3 !important;
}

#facebookBtn,
#googleBtn {
  color: white;
}
