#sets {
  padding: 0 40px;
}

#initDate {
  color: white;
}

.navButtons {
  margin-left: auto;
}

.new-set-form {
  padding-top: 10px;
  text-align: center;
}

.setButton {
  justify-content: end;
}

.title {
  text-align: center;
}

#category {
  width: 150px;
}
